@import "../main";

body {
  width: auto;
  height: 100vh;
  @include flex-center();
  background-color: #FFFFFF;
}
.btn {
  @include btn-filled;
  @include horizontal-vertical-padding (5px, 0px, 5px, 0px);
  height: auto;
}