/* INCLUDING THE RESET FILE */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0rem;
  padding: 0rem;
  border-width: 0rem;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0rem;
}

/* INCLUDING ALL THE BOX MODEL MIXINS */
/* INCLUDING ALL THE HTML COMPONENTS */
/* INCLUDING ALL THE FLEXBOX MIXINS */
/* INCLUDING ALL THE TYPOGRAPHY MIXINS */
body {
  width: auto;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  border-width: 0.0625rem;
  border-style: solid;
  border-color: #000000;
  border-radius: 0.3125rem;
  padding: 0.625rem;
  width: 37.5rem;
  height: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .title {
  width: 30rem;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .title .h1-typography {
  margin: 0.6875rem 0rem;
  padding: 0rem;
  width: 100%;
  height: 2.5rem;
  font-size: 2.1875rem;
  text-indent: 0rem;
  font-family: "Times New Roman", Times, serif;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  text-overflow: hidden;
  text-transform: normal;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  margin: 0rem;
  height: 5rem;
  font-size: 3.125rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .input {
  margin: 0rem;
  padding: 0.3125rem 0rem;
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 37.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (max-width: 412px) and (orientation: portrait) {
  .container .input--cbx-radio {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
  }
}

@media only screen and (max-width: 375px) and (orientation: portrait) {
  .container .input--cbx-radio {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
  }
}

@media only screen and (max-width: 360px) and (orientation: portrait) {
  .container .input--cbx-radio {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
  }
}

@media only screen and (max-width: 320px) and (orientation: portrait) {
  .container .input--cbx-radio {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
  }
}

.container .input__check {
  margin-right: 0.625rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
  width: 1.25rem;
  height: 1.25rem;
}

.container .input__control {
  border-width: 0.0625rem;
  border-style: solid;
  border-color: #000000;
  padding-left: 0.3125rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
  width: 18.75rem;
  height: 1.875rem;
}

.container .input__text {
  margin: 0.5rem 0rem;
  padding: 0rem;
  width: 100%;
  height: 1.125rem;
  font-size: 1rem;
  text-indent: 0rem;
  font-family: "Times New Roman", Times, serif;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-decoration: none;
  text-overflow: hidden;
  text-transform: normal;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  height: 1.25rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.container .input__text:hover {
  cursor: pointer;
}

.container .input__label {
  margin: 0.5rem 0rem;
  padding: 0rem;
  width: 100%;
  height: 1.125rem;
  font-size: 1rem;
  text-indent: 0rem;
  font-family: "Times New Roman", Times, serif;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-decoration: none;
  text-overflow: hidden;
  text-transform: normal;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  width: 7.5rem;
  height: 1.875rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .input__textarea {
  border-width: 0.0625rem;
  border-style: solid;
  border-color: #000000;
  padding-left: 0.3125rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
  width: 18.75rem;
  height: 12.5rem;
  resize: none;
}

.container .input__dropdown {
  border-width: 0.0625rem;
  border-style: solid;
  border-color: #000000;
  padding-left: 0.3125rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
  width: 19.3125rem;
  height: 2rem;
}

@media only screen and (max-width: 412px) and (orientation: portrait) {
  .container .input {
    width: 25.75rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 375px) and (orientation: portrait) {
  .container .input {
    width: 23.4375rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 360px) and (orientation: portrait) {
  .container .input {
    width: 22.5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 320px) and (orientation: portrait) {
  .container .input {
    width: 20rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.container .input__label {
  width: 36.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
}

.container .input__control {
  width: 36.25rem;
}

.container .input__dropdown {
  width: 36.6875rem;
}

.container .btn {
  margin: 0rem;
  padding: 0rem;
  width: 9.375rem;
  height: 3.125rem;
  margin: 1.25rem 0rem;
  width: 25rem;
}

.container .btn__text {
  font-size: 1rem;
  letter-spacing: 0.125rem;
  text-indent: 0rem;
  font-family: "Times New Roman", Times, serif;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-decoration: none;
  text-overflow: hidden;
  text-transform: normal;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.container .btn--standard {
  color: #000000;
  border-width: 0.0625rem;
  border-style: solid;
  border-color: #000000;
  background-color: #E6E6E6;
  border-color: #CCCCCC;
}

.container .btn--primary {
  color: #FFFFFF;
  border-width: 0.0625rem;
  border-style: solid;
  border-color: #000000;
  background-color: #007BFF;
  border-color: #007BFF;
}

.container .btn--secondary {
  color: #FFFFFF;
  border-width: 0.0625rem;
  border-style: solid;
  border-color: #000000;
  background-color: #6C757D;
  border-color: #6C757D;
}

.container .btn--success {
  color: #FFFFFF;
  border-width: 0.0625rem;
  border-style: solid;
  border-color: #000000;
  background-color: #28A745;
  border-color: #28A745;
}

.container .btn--danger {
  color: #FFFFFF;
  border-width: 0.0625rem;
  border-style: solid;
  border-color: #000000;
  background-color: #DC3545;
  border-color: #DC3545;
}

.container .btn--warning {
  border-width: 0.0625rem;
  border-style: solid;
  border-color: #000000;
  background-color: #FFC107;
  border-color: #FFC107;
}

.container .btn--info {
  color: #FFFFFF;
  border-width: 0.0625rem;
  border-style: solid;
  border-color: #000000;
  background-color: #17A2B8;
  border-color: #17A2B8;
}

.container .btn--light {
  border-width: 0.0625rem;
  border-style: solid;
  border-color: #000000;
  background-color: #F8F9FA;
  border-color: #F8F9FA;
}

.container .btn--dark {
  color: #FFFFFF;
  border-width: 0.0625rem;
  border-style: solid;
  border-color: #000000;
  background-color: #343A40;
  border-color: #343A40;
}

.container .btn:hover {
  cursor: pointer;
  opacity: 0.85;
}

.container .btn:focus {
  outline: none;
}
/*# sourceMappingURL=styles.css.map */