@import "../main";

body {
  width: auto;
  height: 100vh;
  @include flex-center();
}
.container {
  @include all-border(1px, 1px, 1px, 1px);
  @include border-radius(5px, 5px, 5px, 5px);
  border-color: #999999;
  @include all-padding(20px, 20px, 20px, 20px);
  @include width(600px);
  @include height(380px);
  @include flex-center();
  flex-direction: column;
}
.container-title {
  @include width(600px);
  @include height(80px);
  @include flex-center-left-center();
  flex-direction: column;
  .h1-typography {
    @include h1-typography;
    font-weight: bold;
    user-select: none;
  }
}
.container-results {
  @include width(600px);
  @include height(200px);
  @include flex-center-left-center();
  .h1-typography {
    @include h1-typography;
    @include height(100px);
    @include font-size(100px);
    font-weight: bold;
    user-select: none;
    @include flex-center();
  }
}
.button-group {
  @include width(600px);
  @include height(50px);
  @include flex-center-left-center();
  & .btn {
    @include height(50px);
  }
}
.button-reset {
  @include flex-center();
}