/* INCLUDING THE RESET FILE */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0rem;
  padding: 0rem;
  border-width: 0rem;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0rem;
}

/* INCLUDING ALL THE BOX MODEL MIXINS */
/* INCLUDING ALL THE HTML COMPONENTS */
/* INCLUDING ALL THE FLEXBOX MIXINS */
/* INCLUDING ALL THE TYPOGRAPHY MIXINS */
body {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  width: 85.375rem;
  height: 16rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img-container {
  width: 85.375rem;
  height: 16rem;
  background-image: url("images/img-0.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img-container .button-left, .img-container .button-right {
  width: 42.6875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img-container .button-left .btn, .img-container .button-right .btn {
  margin: 0rem;
  padding: 0rem;
  width: 9.375rem;
  height: 3.125rem;
  width: 2.1875rem;
  height: 2.1875rem;
}

.img-container .button-left .btn__text, .img-container .button-right .btn__text {
  font-size: 1rem;
  letter-spacing: 0.125rem;
  text-indent: 0rem;
  font-family: "Times New Roman", Times, serif;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-decoration: none;
  text-overflow: hidden;
  text-transform: normal;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.img-container .button-left .btn--standard, .img-container .button-right .btn--standard {
  color: #000000;
  border-width: 0.0625rem;
  border-style: solid;
  border-color: #000000;
  background-color: #E6E6E6;
  border-color: #CCCCCC;
}

.img-container .button-left .btn--primary, .img-container .button-right .btn--primary {
  color: #FFFFFF;
  border-width: 0.0625rem;
  border-style: solid;
  border-color: #000000;
  background-color: #007BFF;
  border-color: #007BFF;
}

.img-container .button-left .btn--secondary, .img-container .button-right .btn--secondary {
  color: #FFFFFF;
  border-width: 0.0625rem;
  border-style: solid;
  border-color: #000000;
  background-color: #6C757D;
  border-color: #6C757D;
}

.img-container .button-left .btn--success, .img-container .button-right .btn--success {
  color: #FFFFFF;
  border-width: 0.0625rem;
  border-style: solid;
  border-color: #000000;
  background-color: #28A745;
  border-color: #28A745;
}

.img-container .button-left .btn--danger, .img-container .button-right .btn--danger {
  color: #FFFFFF;
  border-width: 0.0625rem;
  border-style: solid;
  border-color: #000000;
  background-color: #DC3545;
  border-color: #DC3545;
}

.img-container .button-left .btn--warning, .img-container .button-right .btn--warning {
  border-width: 0.0625rem;
  border-style: solid;
  border-color: #000000;
  background-color: #FFC107;
  border-color: #FFC107;
}

.img-container .button-left .btn--info, .img-container .button-right .btn--info {
  color: #FFFFFF;
  border-width: 0.0625rem;
  border-style: solid;
  border-color: #000000;
  background-color: #17A2B8;
  border-color: #17A2B8;
}

.img-container .button-left .btn--light, .img-container .button-right .btn--light {
  border-width: 0.0625rem;
  border-style: solid;
  border-color: #000000;
  background-color: #F8F9FA;
  border-color: #F8F9FA;
}

.img-container .button-left .btn--dark, .img-container .button-right .btn--dark {
  color: #FFFFFF;
  border-width: 0.0625rem;
  border-style: solid;
  border-color: #000000;
  background-color: #343A40;
  border-color: #343A40;
}

.img-container .button-left .btn:hover, .img-container .button-right .btn:hover {
  cursor: pointer;
  opacity: 0.85;
}

.img-container .button-left .btn:focus, .img-container .button-right .btn:focus {
  outline: none;
}

.img-container .button-left .btn--standard, .img-container .button-right .btn--standard {
  border-width: 0rem;
  border-radius: 3.125rem;
  background-color: #FFFFFF;
  opacity: 0.35;
}

.img-container .button-left .btn__text, .img-container .button-right .btn__text {
  font-size: 1.5625rem;
  font-weight: bold;
}

.img-container .button-left .btn:hover, .img-container .button-right .btn:hover {
  opacity: 0.75;
}

.img-container .button-left {
  padding-left: 0.625rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.img-container .button-right {
  padding-right: 0.625rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
/*# sourceMappingURL=styles.css.map */